body {
  background-color: #121214;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.conteiner {
  padding: 32px 200px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.icone {
  color: rgb(0, 0, 0);
}

.icone.branco{
  color: rgb(255, 255, 255);
}


.botao-adicionar {
  background-color: #10B981;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 38px;
  border-radius: 8px;
  cursor: pointer;
}

.cartoes {
  display: flex;
  gap: 20px;
  margin-bottom: none;
}

.cartao {
  flex: 1;
  background-color: #000000;
  border-radius: 21px;
  padding: 16px;
}

.cartao-cabecalho {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 17px;
}

.valor {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.descricao {
  font-size: 12px;
  color: #a1a1aa;
}

.secao-central {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.analise {
  flex: 2;
  background-color: #000000;
  padding: 16px;
  border-radius: 12px;
}

.caixa-grafico {
  border: 1px solid #000000;
  height: 250px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.categorias {
  flex: 1;
  background-color: #000000;
  padding: 16px;
  border-radius: 12px;
}

.categoria {
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 14px;
  padding: 8px;
  margin-bottom: 8px;
  align-items: center;
  border-radius: 5px;
}

.categoria.destaque {
  background-color: #575757;
  color: white;
}

.transacoes {
  margin-top: 25px;
}

.cabecalho-tabela,
.transacao {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 14px;
  margin-bottom: 8px;
  align-items: center;
}

.cabecalho-tabela {
  color: #a1a1aa;
  padding-bottom: 8px;
  border-bottom: 1px solid #2a2a2a;
}

.transacao {
  background-color: #000000;
  padding: 8px;
  border-radius: 8px;
}

.transacao .coluna {
  display: flex;
  align-items: center;
  gap: 6px;
}

.verde {
  color: #00c97a;
}

.vermelho {
  color: #ff0000;
}

.titulo-secao {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.secao-analise,
.secao-categorias {
  flex: 1;
  display: flex;
  flex-direction: column;
}
